body {
  font-family: Verdana, Arial;
  font-size: 13.4px;
  background-color: #CCD;
  min-width: 320px;
}

.navbottom {
  display: inline;
  list-style-type: none;
}

.navbar {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0 auto;
}

.navbar li {
  display: inline;
  padding: 10px;
}
