body {
  font-family: Verdana, Arial;
  font-size: 13.4px;
  background-color: #CCD;
  min-width: 320px;
}

header{
  display: block;
  width: 100%;
  height: 75px;
  background-color: rgb(133, 138, 191);
  margin: 0px;

}
header img{
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 10px;
}

header input{
  display: inline-block;
  float: right;
  height: 30px;
}

header button{
  display: inline-block;
  float: right;
  background-color: rgb(153, 153, 204);
  color: white;
  font-size: 1.3em;
  border-radius: 5px;
  margin-right: 10%;
  height: 35px;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline-block;
  float: left;
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-center {
  display: inline-block;
  float: none;
  text-align: center;

}
