body {
  font-family: Verdana, Arial;
  font-size: 13.4px;
  background-color: #CCD;
  min-width: 320px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-center {
  display: inline-block;
  float: none;
  text-align: center;
}
